@model LeaveManagementProject.Models.Signin


@{
    ViewBag.Title = "Leave Management System";
}


    <link href="@Url.Content("~/Content/signin.css")" rel="stylesheet" type="text/css" />
    
  

        @using (Html.BeginForm("Signin", "Home", FormMethod.Post , new { @class = "form-signin" }))
        {


            @Html.AntiForgeryToken()

            @*<div class="form-horizontal">*@
            @*<h4>tblLogin</h4>*@

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           


            <div class="form-group">

                @Html.LabelFor(model => model.UserName)


                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password)

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Signin" class="btn btn-default" />
                </div>
            </div>
            @*</div>*@
        }

        @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    